doctype html
html
    head
        meta(charset="UTF-8")
        title Blake Kostner
        meta(name="description", content="one man. many missions. the home of Blake Kostner and his many projects.")
        meta(name="author", content="Blake Kostner")
        link(rel="stylesheet", type="text/css", href="main.css")
    body
        div#container
            div#name Blake Kostner
            div#sub one man. many missions.
            a#links(href="http://pllus.google.com/+BlakeKostner")
                div#circle
                i.fa.fa-google-plus.fa-3x
            a#links(href="http://facebook.com/btkostner")
                div#circle
                i.fa.fa-facebook.fa-3x
            a#links(href="https://twitter.com/btkostner")
                div#circle
                i.fa.fa-twitter.fa-3x
            a#links(href="http://github.com/btkostner")
                div#circle
                i.fa.fa-github.fa-3x
            a#links(href="http://www.linkedin.com/profile/view?id=386528345")
                div#circle
                i.fa.fa-linkedin.fa-3x
            a#links(href="http://steamcommunity.com/id/btkostner")
                div#circle
                i.fa.fa-steam.fa-3x
