head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title btkostner.io
  meta(name='description', content='btkostner.io')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  // I see you are looking for the source code.
  // You might want to take a look at this instead:
  // https://github.com/btkostner/btkostner.io
  // Hint: look at the javascript. Enjoy. ~ Blake

body
  #grid
  #container
    header
      .align
        .grid
          h1 Blake Kostner (btkostner)
      .align
        .grid
          h2 // creator of over complicated grids
    .space
    .align
      a(href="https://plus.google.com/+BlakeKostner")
        .grid
         h4 > Google +
    .align
      a(href="https://linkedin.com/profile/view?id=386528345")
        .grid
          h4 > Linkedin
    .align
      a(href="https://github.com/btkostner")
        .grid
          h4 > Github
    .space
    footer
      .align
        .grid
          h5 coded with all the love in the world on open source projects
