@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400");

$colors             = {}
$colors["-1"]       = rgb(197, 200, 198)
$colors["0"]        = rgb(29, 31, 33)
$colors["1"]        = rgb(204, 102, 102)
$colors["2"]        = rgb(181, 189, 104)
$colors["3"]        = rgb(240, 198, 116)
$colors["4"]        = rgb(129, 162, 190)
$colors["5"]        = rgb(178, 148, 187)
$colors["6"]        = rgb(138, 190, 183)
$colors["7"]        = rgb(197, 200, 198)
$colors["8"]        = rgb(150, 152, 150)

*
  box-sizing border-box

html,
body
  width 100%
  height 100%
  padding 0
  margin 0

body
  background-color: $colors["0"]
  left 0
  position absolute
  top 0
  font-family 'Roboto', sans-serif
  color: $colors["-1"]
  min-width 448px

h1
  font-weight 300
  height 64px
  line-height 64px
  font-size 32px
  overflow hidden
  padding 0
  margin 0

h2
  font-weight 100
  height 64px
  line-height 64px
  font-size 18px
  overflow hidden
  padding 0
  margin 0

header h1,
header h2
  padding-left 12px

header .grid
  border-color: $colors["1"]

a .grid
  padding-left 12px
  min-width 128px
  color: $colors["-1"]
  text-decoration none
  border-color: $colors["8"]
  transition padding-left .2s ease

  &:hover
    padding-left 16px

footer
  position absolute
  bottom -1px
  left 0

footer .grid
  border-color: $colors["4"]
  text-align center

#container
  position absolute
  height auto
  border: 1px solid transparent

.align
  display block
  height 64px

.space
  display block
  height 64px

.grid
  display inline-block
  position relative
  top -1px
  left -1px
  border: 1px solid transparent
  background-color rgba(29, 31, 33, 0.75)
  // background-color: $colors["0"]

for n, c in $colors
  .grid-{n}
    border-color c

#grid
  left 0
  position absolute
  top 0
  bottom 0
  right 0
  z-index -1

  .vertical
    position absolute
    height 100%
    width 1px
    top 0
    left 100%
    background-color: lighten($colors["0"], 4%)

  .horizonal
    background-color: lighten($colors["0"], 4%)
    height 1px
    left 0
    position absolute
    top 100%
    width 100%
