//============================
// base/reset.styl
//============================

*
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

*,
*:before,
*:after
  box-sizing border-box

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
  display block

ol,
ul
  list-style none

blockquote,
q
  quotes none

blockquote:before,
blockquote:after,
q:before,
q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"]
  -webkit-apperance none
  -moz-apperance none
