/** Base16 Solarized Light Theme */
:root {
  --code-00: #fdf6e3;
  --code-01: #eee8d5;
  --code-02: #93a1a1;
  --code-03: #839496;
  --code-04: #657b83;
  --code-05: #586e75;
  --code-06: #073642;
  --code-07: #002b36;

  --code-08: #cb4b16;
  --code-09: #cb4b16;
  --code-0A: #b58900;
  --code-0B: #859900;
  --code-0C: #2aa198;
  --code-0D: #268bd2;
  --code-0E: #6c71c4;
  --code-0F: #d33682;
}

/** Base16 Tomorrow Dark */
.dark {
  --code-00: #1d1f21;
  --code-01: #282a2e;
  --code-02: #373b41;
  --code-03: #969896;
  --code-04: #b4b7b4;
  --code-05: #c5c8c6;
  --code-06: #e0e0e0;
  --code-07: #ffffff;

  --code-08: #cc6666;
  --code-09: #de935f;
  --code-0A: #f0c674;
  --code-0B: #b5bd68;
  --code-0C: #8abeb7;
  --code-0D: #81a2be;
  --code-0E: #b294bb;
  --code-0F: #a3685a;
}
